.register-container {
    background-color: #f9fafc;
    padding: 20px 20px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  input{
    height: 45px;
    outline: none;
    border: none;
    border-radius: .3rem;
  }
  .btn-send{
    color: #3070fe;
    background-color: #fff;
  }