<div class='register-container'>
  <span class="mb-1" style="font-weight: bold">Enter the activation code</span>
  <input type='text' mask="000000" placeholder="112233">
  <span class="mt-1" style="font-weight: 100; font-size: 10px">The 6-digit activation code has now been sent by text
    message</span>

  <!-- <div style="    display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;">
    <button class="btn btn-block btn-send" style="font-weight: bold">Send</button>
  </div> -->
</div>