<div class='register-container'>
    <span class="mb-1" style="font-weight: bold">Enter your email address:</span>
    <input type='text' placeholder="enter your email address">
  <span class="mb-1" style="font-weight: bold">Enter your full name:</span>
  <input type='text' placeholder="enter your full name">
  <span class="mb-1" style="font-weight: bold">Enter your DOB:</span>
  <input mask="d0/M0/0000" placeholder="DOB" placeholder="DD/MM/YYYY">
  <span class="mt-3" style="font-weight: 200; background: #E8E8E6; padding: 25px; border-radius: .3rem;">Please enter
    your name & CPR number
    exactly as on your
    social security card (sygesikringsbevis)</span>

  <div style="    display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;">
    <button class="btn btn-block btn-send" style="font-weight: bold">Send</button>
  </div>
</div>