.sign-in {
  color: #3070fe;
  background-color: #fff;
  width: 40%;
  border-radius: 3rem;
}
.btn-new-account {
  color: #555;
}
.logo {
  width: 65%;
}
.c-shadow {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
}
