.register-container {
  background-color: #f9fafc;
  height: 100vh;
}
input {
  height: 45px;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
}
.btn-send {
  color: #3070fe;
  background-color: #fff;
}
.m-p {
  margin: 15px;
  padding: 0px 15px;
}
